/NeuralNet_Notes.aux
/NeuralNet_Notes.fdb_latexmk
/NeuralNet_Notes.fls
/NeuralNet_Notes.log
/NeuralNet_Notes.out
/NeuralNet_Notes.synctex.gz
NeuralNet_Notes.synctex(busy)
net structure.aux
net structure.fdb_latexmk
net structure.fls
net structure.log
net structure.pdf
net structure.synctex.gz
net structure.tex
NeuralNet_Notes.toc
Моделирование_Систем_Ближней_Локации.pdf
Конспект Иры.pdf
.vscode/settings.json
